@{
    ViewBag.Title = "Sobre";
}
<hgroup>
    <h2>@ViewBag.Title</h2>

</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>Atualmente enfrentamos uma pandemia que restringiu ou reduziu o acesso de pessoas a vários estabelecimento em todo o Brasil. 
         Bibliotecas e estabelecimentos de empréstimos de livros possui uma grande movimentação de pessoas enquanto procura um livro para emprestar. 
         O software Catalogo de Livros tem como finalidade auxiliar o cliente a escolher o livro que deseja emprestar sem a necessidade de entrar no local, 
         e assim evitando aglomerações dentro do estabelecimento.</p>
    </div>
</div>