@{
    ViewBag.Title = "Página inicial";
}

<div class="jumbotron">
    <h1>Catálogo de Livros</h1>
</div>

@{

    if (TempData["AvisoEmail"] != null)
    {
        <h4 class="text-danger">@TempData["AvisoEmail"]</h4>
    }
}

